@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu+Mono&display=swap');

.container {
    text-align: center;
    border: solid black 5px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Ubuntu Mono', monospace;
    height: 100vh;
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content: space-around;
    background-color: rgb(95,158,160);
}

.subContainer {
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}

h2 {
    text-align: center;
    color: lightyellow;
    font-size: 40px;
}

.textColor {
    color: white;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 12px;
}

.decrease {
    background-color: lightcoral;
    margin-right: 50px;
    border: none;
}

.increase {
    background-color: lightblue;
    margin-right: 50px;
    border: none;
}

.reset {
    background-color: darkred;
    border: none;
}

.question {
    background-color: lightgoldenrodyellow;
    height: 50px;
    width: 200px;
    border: none;
    color: black;
    font-size: 20px;
}

.answerButton {
    height: 100px;
    width: 500px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 30px;
}